html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Helvetica;
    font-size: 1em;
    font-weight:  700;
	}

	.container{
    width: 100％;
    height: 100%;
    margin: 0;
    padding: 0;
	}

	.sigil {
  position: absolute;
  left: 40%;
  top: 12%;
  background: transparent;
}

svg {
  width: 100%;
  height: 100%;
  stroke: #8BFDFE;
  stroke-width: 20;
  fill: none;
}

.iru-tiny-player {position: absolute !important; bottom: 5%; left:  35%; color: #fff; opacity: 0.8}

.iru-tiny-player .song-progress {background-color: rgba(255,0,0,0.15) !important;}